body{
	background-color: #546e7a;
}

main{
	margin:20px;
	padding:10px;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);

	p:first-child{
		margin-top: 0;
	}
}

button{
	$size: 70px;
	width: $size;
	height: $size;
	text-align: center;
	margin:5px;
	background-color: #b0bec5;
	border: none;
	border-radius: 5px;
}

.error{
	color: #b71c1c;
}